*
{
    font-family: Poppins,sans-serif;
    color: #24282f;
    background-color: whitesmoke;

}

.nav-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    height: 80px;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 0px 5px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; 
    right: 0;
    left: 0;
    z-index:1030;
}
.nav-container > .main-logo
{
    width: 120px;
    height: unset;
    max-height: 150px;
    transition: all .5s ease;
    
    
}
.nav-container  .image--logo{
    vertical-align:middle;
    border-style: none;
    font-size: 1.25rem;
    width: 120px;
    
}

.nav-container > #second__div
{
    
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    
}
.nav-container > #second__div > div
{
    padding: 20px;
    font-style: Poppins, sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    letter-spacing: 0.16px;
    color: #48505e;
    
}
.buttonn
{
    border: 1px solid blue;
    border-radius: 40px;
    color:blue;
    background-color:white;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    width: 80px;
    
    margin-right: 10px;
}
.buttonn1
{
    border: 1px solid blue;
    border-radius: 40px;
    color: white;
    background-color: blue;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    width: 80px;

}
.buttonn:hover {color:white;background-color: #5846f6;}
.buttonn1:hover {background-color:darkblue}


body
{
    background-color: #fafafb  hsl(240,11%,98%)rgb(250,250,251);

}
.container
{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin: auto;
}
.container > .first-div
{
    width:50%;
    padding-left: 250px;
    padding-right: 150px;
    padding-top: 100px;
    text-align: left;
    line-height: 100px;
}
.container > .second-div
{
    
    width: 50%;
    padding-right: 200px;
}
.container > .first-div >h1
{
    text-align: left;
    
    line-height: 42.5004px;
    letter-spacing: normal;
    
    background-color: #fafafb;
}
.container > .first-div > p{
    font-family: Poppins,sans-serif;
    font-size: 20.6754px;
    text-align: left;
    line-height: 27.4983px;
    letter-spacing: normal;
    color: #24282f;
    background-color: #fafafb;
}
#button
{
    border: 1px solid blue;
    border-radius: 30px;
    color: white;
    background-color: blue;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 150px;
    height: 50px;
}
#button:hover {background-color:darkblue}

#image
{
    width:500px;
    padding-left: 0;
    padding-top: 100px;
}
body{
    background-color:#fafafb  hsl(240,11%,98%)rgb(250,250,251);
}

.second-container
{

    width: 1000px;
    margin: auto;
}
.second-container > .long-div
{
    display: flex;
    justify-content: space-around;
    
}
.second-container > div >p
{

    text-align: center;
    font-family: poppins,sans-serif;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: normal;
    color: #24282f;
    
}

.third-container
{
    
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.third-container > #one-div
{

height: auto;
padding: 40px;
margin-top: 80px;
}

.third-container #picture
{
    
    height: 400px;
    width: 500px;
}

.third-container #two-1-div
{
    
    font-size: 16px;
    line-height: 10px;
    text-align: left;
    letter-spacing: normal;
    width: 300px;
    padding-left: 30px;
    margin-left: 100px;
    padding-bottom: 40px;
    padding-top: 40px;
}
.third-container  h1
{
   line-height: 40px;
   width: 320px;
}
.third-container p1
{
    
    font-size: 16px;
    width: 200px;
    line-height: 20px;
}
.blue{
    color: blue;
}

.third-container #text
{
    font-size: 16px;
    width: 200px;
    line-height: 20px;
}
 .h1
{
    font-size: 16px;
}

#blue-logo
{
    width: 60px;
    height: 60px;
}

.fourth-container
{
    
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px; 
    margin: auto;  
}

.logo-lightblue
{
    width: 60px;
    height: 60px;
}
.fourth-container #one-box
{
    font-size: 16px;
    text-align: left;
    letter-spacing: normal;
    width: 400px;
    padding-left: 20px;
    margin-left: 100px;
    padding-bottom: 40px;
    line-height: 34px;
    
}
 .size
{
    font-size: 37px;
    line-height: 40px;
}
#img-4
{
    padding: 100px;
    height: 300px;
}
#fifth-container
{
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}
#box-one
{
    
    width: 50%;
    height: 40%;
    margin: auto;
}
#box-two
{
    
    width: 40%;
    padding: 10%;
    
}
#box-one-img
{
    width: 80%;
    padding: 80px;
}
.sixteen
{
    font-size: 20px;
    line-height: 30px;
}
#sixth-container
{
    
    width: 100%;
    margin: auto;
    text-align: center;
}
#sixth-container p{
    font-size: 20px;
    font-family: poppins,sans-serif;
}
.gridd
{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 40px 30px;
}
#eight-container
{
    text-align: center;
    justify-content: center;
    
    margin: 5%;
    
    line-height: 40px;
}
.b5
{
    border: 1px solid blue;
    border-radius: 40px;
    color:blue;
    background-color:white;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    width: 15%;
}
.b5:hover {color:white;background-color: #5846f6;}
#b5
{
    
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
#gridd > div
{
    
    width: 100%;
    border-radius: 20px;
    
}
.vid
{
    width:100%;
    border-radius: 20px;

}


#ninth-container
{
    
    width: 80%;
    
    text-align: center;
    margin: 4%;
    margin-left: 10%;
}
#three-container
{
    
    width: 60%;
    
    margin: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
                
}
#three-container > div{
    width:30%;
    margin:auto;
    height: 100%;
    text-align: center;
    padding-bottom: 20px 0px;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    margin-bottom: auto;

}
.rect-img
{
    width: 100%;
}



#vertical-box
{
    margin-bottom: 5%;
}

#last-container
{
    border: 1px solid blue;
    border-radius: 30px;
    margin: auto;
    background: url(https://storage.googleapis.com/lumen5-site-images/website-assets/cta-bg.png);
    width: 80%;
    color: white;
    text-align: center;
    padding-bottom: 2%;
    height: 300%;
}
#last-button
{
    border: 1px solid blue;
    border-radius: 30px;
    color: blue;
    background-color:white;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 150px;
    height: 50px;
}

#last-button:hover {background-color:whitesmoke}

#last-container > h1{
    background: url(https://storage.googleapis.com/lumen5-site-images/website-assets/cta-bg.png);
    color: white;
    font-size: 40px;
    }
#last-container p{
    background: url(https://storage.googleapis.com/lumen5-site-images/website-assets/cta-bg.png);
    color: white;
    font-size: 30px;
    
}
.footer
  {
    background-color:#24282f;
    
    width: 100%;
    margin: auto;
    height: fit-content;
    display: flex;
    margin-top: 5%;

  }
  .footer > div{

    background-color: #24282f;
    text-align: left;

  }
  .footer > div >img
  {
    background-color: #24282f;
    
    width: 20%;
    
  }
  .footer > div >p
  {
    font-size: 18 px;
    background-color: #24282f;
    color: white;
    padding: 2%;
  }
.footer-3 
{
    width: 40%;

    line-height: 20px;
}
.footer .footer-3 p
{
    font-size: 17px;
}
#first-footer-div
{
    padding: 5%;
}
#end
{
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;
}
#end div{
    background-color: #1b1b1b;
}
#end p{
    background-color: #1b1b1b;
    color: white;
    padding: 12px;
}
