body{
    background-color:#fafafb  hsl(240,11%,98%)rgb(250,250,251);
}
.container
{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    width: 100%;
    height: 100px;
    
}
.container > .logo
{
    width: 120px;
    height: unset;
    max-height: 150px;
    transition: all .5s ease;
    
    
}
.container  .image-logo{
    vertical-align:middle;
    border-style: none;
    font-size: 1.25rem;
    width: 120px;
    
}

.container > #second_div
{
    
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    
}
.container > #second_div > div
{
    padding: 20px;
    font-style: Poppins, sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    letter-spacing: 0.16px;
    color: #48505e;
    
}
.button
{
    border: 1px solid blue;
    border-radius: 40px;
    color:blue;
    background-color: blue;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    width: 80px;
}
.button
{
    border: 1px solid blue;
    border-radius: 40px;
    color: white;
    background-color: blue;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 80px;
}
.button:hover {background-color:darkblue}
